{{#if goalsService.firstStateDone}}

    <label class="person" for="">
        <span>Персонаж:</span>
        <select {{action 'onSelectUserHandler' on='change'}}>
            <option value="" hidden selected>Кто ты</option>
            <option value="123">{{ goalsService.chosenName }}</option>
        </select>
    </label>

    {{#if showError }}
        <p class="error-message">Что-то пошло не так, попробуй еще раз</p>
    {{/if}}

    {{#if showContext }}
        <form class="form flex">
            <div class="inut-container flex-column">
                <span>Ф.И.О</span>
                <textarea disabled>{{ initials }}</textarea>
            </div>
            <div class="inut-container flex-column">
                <span>Фото</span>
                <img class="avatar" src="{{ imgUrl }}" alt="no avatar">
                <input type="file" onchange={{action "onLoadAvatarHandler"}} accept="image/png,image/jpeg,application/pdf" />
            </div>
        </form>

        <form class="form">
            <div class="row">
                <span>Дата рождения:</span>
                <input type="date" value={{ dateField }} disabled />
            </div>
            <div class="row">
                <span>Место рождения:</span>
                <input type="text" value="{{ birthPLace }}" disabled />
            </div>
            <div class="row">
                <span>Место работы:</span>
                <select class="workplace" onchange={{action 'onChangeWorkPlaceHandler' value='target'}}>
                    <option value="" hidden selected>Укажи место</option>
                    {{#each workplaces as |workplace|}}
                        <option value={{ workplace }}>{{ workplace }}</option>
                    {{/each}}
                </select>
            </div>

            <div class="row">
                <span>Телефон:</span>
                <input class="disabled-number"  type="text" value="8" disabled />
                <input class="disabled-number" type="text" value="9" disabled />
                <input class="disabled-number" type="text" value="2" disabled />
                <input class="disabled-number" type="text" value="0" disabled />

                {{#each phoneNumber as |select index|}}
                    {{#if select.isManually}}
                        <input class="disabled-number phoneNumber_{{index}}" value={{select.value}} type="text" onkeypress={{action 'onChooseNumberHandler'}} />
                    {{else}}
                        <div>
                            <select class="phoneNumber_{{index}}" onchange={{action 'onChooseNumberHandler' value='target'}}>
                                <option selected hidden>{{ select.value }}</option>
                                {{#each numbers as |number|}}
                                    <option value={{ number }}>{{ number }}</option>
                                {{/each}}
                            </select>
                            {{#if select.showError}}
                                <span class="error-message">index is out of array</span>
                            {{/if}}
                        </div>
                    {{/if}}

                {{/each}}
            </div>

            <button {{action 'onSaveAction'}} disabled={{isSaveDisabled}}>Сохранить</button>
        </form>
    {{/if}}

{{/if}}

