<div class="status">
    {{goals-status-component}}
</div>
<div class="cms">
    <div class="cms-tablist">
        <h2 class="cms-tablist--title">{{ model.title }}</h2>

        <div class="cms-tablist--list">
            {{#each model.listOfActivities as |activity|}}
                {{#if activity.link}}
                    {{#link-to activity.link}}
                        <button class="cms-tablist--activity">{{ activity.label }}</button>
                    {{/link-to}}
                {{else}}
                    {{#if activity.through}}
                        <button class="cms-tablist--activity through">{{ activity.label }}</button>
                    {{else}}
                        <button class="cms-tablist--activity">{{ activity.label }}</button>
                    {{/if}}
                {{/if}}
            {{/each}}
        </div>

        {{more-actions-component}}

    </div>

    <div class="cms-tab">{{outlet}}</div>
</div>

