<div class="status">
    {{goals-status-component}}
</div>
<div class="cms">
    <div class="cms-tablist">
        <h2 class="cms-tablist--title">{{ model.title }}</h2>

        <ul class="cms-tablist--list">
            {{#each model.listOfActivities as |activity|}}
                {{#if activity.link}}
                    {{#link-to activity.link}}
                        <li class="cms-tablist--activity">{{ activity.label }}</li>
                    {{/link-to}}
                {{else}}
                    {{#if activity.through}}
                        <li class="cms-tablist--activity through">{{ activity.label }}</li>
                    {{else}}
                        <li class="cms-tablist--activity">{{ activity.label }}</li>
                    {{/if}}
                {{/if}}
            {{/each}}
        </ul>

        {{more-actions-component}}

    </div>

    <div class="cms-tab">{{outlet}}</div>
</div>

